﻿

<MudCard>
	<MudCardHeader>
		<CardHeaderAvatar>
			<MudAvatar Color="Color.Secondary"></MudAvatar>
		</CardHeaderAvatar>
		<CardHeaderContent>
			<MudText Typo="Typo.h4">Cerrar Corte de caja</MudText>
		</CardHeaderContent>

	</MudCardHeader>
	<MudCardContent>

		<MudPaper Class="ma-2" Elevation="3">
			<MudCard>
				<MudForm Model="ModelCorteCaja" @ref="Form" @bind-IsValid="@bSucces">

					<MudCardContent>

						<MudTextField T="decimal"
									  @bind-Value="@PGralCorteCaja.mTotalSistema"
									  Label="Total Efectivo Sistema"
									  Disabled="true"
									  Variant="Variant.Outlined"
									  Adornment="Adornment.Start"
									  AdornmentIcon="@Icons.Material.Filled.AttachMoney" />


						<MudTextField T="decimal"
									  @bind-Value="@ModelCorteCaja.mTotal"
									  Label="Total en caja"
									  Variant="Variant.Outlined"
									  Disabled="@(PGralCorteCaja.bActivo.False())"
									  Adornment="Adornment.Start"
									  AdornmentIcon="@Icons.Material.Filled.AttachMoney" />



						<MudTextField Label="Comentario"
									  T="string"
									  Disabled="@(PGralCorteCaja.bActivo.False())"
									  Variant="Variant.Outlined"
									  @bind-Value="@ModelCorteCaja.vchDescripcion" />

					</MudCardContent>
					@if (PGralCorteCaja.bActivo)
					{

						<MudCardActions>
							<MudButton Color="Color.Primary"
									   ButtonType="ButtonType.Button"
									   Disabled="@(bSucces.False())"
									   Variant="Variant.Outlined"
									   OnClick="OnGuardar">Guardar</MudButton>
						</MudCardActions>
					}
				</MudForm>

			</MudCard>
		</MudPaper>
	</MudCardContent>
</MudCard>
