﻿

<MudCard>
	<MudCardHeader>
		<CardHeaderAvatar>
			<MudAvatar Color="Color.Secondary"></MudAvatar>
		</CardHeaderAvatar>
		<CardHeaderContent>
			<MudText Typo="Typo.h4">@strTitulo</MudText>
		</CardHeaderContent>

	</MudCardHeader>
	<MudCardContent>

		<MudPaper Class="ma-2" Elevation="3">
			<MudCard>
				<MudForm Model="ModelEspComanda" @ref="Form" @bind-IsValid="@bSucces">

					<MudCardContent>

						<MudTextField T="decimal"
									  @bind-Value="@ModelEspComanda.mTotalRecaudado"
									  Label="Cantidad"
									  Variant="Variant.Outlined"
									  Adornment="Adornment.Start"
									  AdornmentIcon="@Icons.Material.Filled.AttachMoney" />



						<MudTextField Label="Comentario"
									  T="string"
									  Variant="Variant.Outlined"
									  @bind-Value="@ModelEspComanda.vchComentario" />

					</MudCardContent>
					<MudCardActions>
						<MudButton Color="Color.Primary"
								   ButtonType="ButtonType.Button"
								   Disabled="@(bSucces.False())"
								   Variant="Variant.Outlined"
								   OnClick="OnGuardar">Guardar</MudButton>
					</MudCardActions>
				</MudForm>

			</MudCard>
		</MudPaper>
	</MudCardContent>
</MudCard>
