﻿
@using POS_Foraneo.Helper
@using POS_Foraneo.Areas.Caja.Comanda.Componentes

@page "/Caja"


<MudGrid>
	<MudItem xs="4">
				<MudCardHeader>
					<CardHeaderActions>
						<MudFab Color="Color.Primary"
								Icon="@Icons.Material.Filled.ArrowBack"
								Size="Size.Large"
								IconSize="Size.Large"
								Label="Voler Comandas"
								Class="ma-2"
								OnClick="@EC_VolverComandas" />
					</CardHeaderActions>
				</MudCardHeader>
		<Ticket PGralComanda="@PGralComanda"></Ticket>
	</MudItem>
	<MudItem xs="4">
		<MudPaper Class="ma-2" Elevation="3">
			<MudCard>
				<MudForm Model="@Model" @ref="Form" @bind-IsValid="@bSucces">
					<MudCardContent>
						<MudGrid>

							<MudItem xs="12">
								<MudTextField T="decimal"
											  @bind-Value="@Model.mTotalRecaudado"
											  Label="Total a Cobrar"
											  Variant="Variant.Outlined"
											  Adornment="Adornment.Start"
											  AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
							</MudItem>

							<MudItem xs="12">
								<MudSelect T="int" Label="Tipo Pago"
										   Variant="Variant.Outlined"
										   Strict="true"
										   Format="F2"
										   @bind-Value="@Model.iIdTipoPago">
									@foreach (var item in LstTipoPago)
									{
										<MudSelectItem Value="@item.IdOpcion">@item.vchValue</MudSelectItem>
									}
								</MudSelect>
							</MudItem>


						</MudGrid>
						<MudGrid>

							<MudItem xs="12">
								<MudTextField T="decimal"
											  @bind-Value="@mPagoCliente"
											  Label="Pago Cliente"
											  Variant="Variant.Outlined"
											  Adornment="Adornment.Start"
											  Style="font-size:40px"
											  AdornmentIcon="@Icons.Material.Filled.AttachMoney"
											  OnBlur="OnKeyUpPago" />
							</MudItem>
							<MudItem xs="12">
								<MudTextField T="decimal"
											  @bind-Value="@mRestoCliente"
											  Label="Cambio Cliente"
											  Disabled="true"
											  Variant="Variant.Outlined"
											  Style="font-size:50px"
											  Adornment="Adornment.Start"
											  AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
							</MudItem>

						</MudGrid>


					</MudCardContent>
					<MudCardActions>
						<MudButton Color="Color.Primary"
								   ButtonType="ButtonType.Button"
								   Variant="Variant.Outlined"
								   Disabled="@(bSucces.False())"
								   OnClick="OnGuardar">Guardar Cobro</MudButton>
					</MudCardActions>
				</MudForm>

			</MudCard>
		</MudPaper>
	</MudItem>
</MudGrid>
