﻿@using POS_Foraneo.Areas.Administracion.Inventario.Componentes
@page "/Inventario"

<MudGrid>
	<MudItem xs="4">
		<MudGrid>


			<MudItem xs="12">
				<MudCard Elevation="3">
					<MudCardHeader>
						<CardHeaderContent>
							<MudText Typo="Typo.h6">Categoría</MudText>
						</CardHeaderContent>
						<CardHeaderActions>
							<MudButton Variant="Variant.Outlined" 
									   Color="Color.Info" 
									   @onclick="OnclicTablaCategorias">Registros</MudButton>
						</CardHeaderActions>
					</MudCardHeader>
					<MudDivider DividerType="DividerType.Middle" />

					<MudCardActions>
						<MudFab Color="@Color.Primary" 
								Icon="@Icons.Material.Filled.Add"
								@onclick="OnclicCategoria" />

					</MudCardActions>



					@if (bFromCategoria)
					{
						<MudCardContent>
							<FromCategoria PCatCategoria="PCatCategoria"
										   EC_CatCategoria="EC_CatCategoriaM"/>
						</MudCardContent>
					}


				</MudCard>
			
			</MudItem>


			<MudItem xs="12">
				<MudCard Elevation="3">
					<MudCardHeader>
						<CardHeaderContent>
							<MudText Typo="Typo.h6">Producto</MudText>
						</CardHeaderContent>
						<CardHeaderActions>
							<MudButton Variant="Variant.Outlined" Color="Color.Info" @onclick="OnclicTablaProducto">Registros</MudButton>
						</CardHeaderActions>
					</MudCardHeader>
					<MudDivider DividerType="DividerType.Middle" />


					<MudCardActions>
						<MudFab Color="@Color.Primary" 
								Icon="@Icons.Material.Filled.Add"
								@onclick="OnclicProducto" />
					</MudCardActions>


					@if (bFromProducto)
					{
						<MudCardContent>
							<GuardaProducto CatProducto="PCatProductos"></GuardaProducto>
						</MudCardContent>
					}




				</MudCard>
			</MudItem>



		</MudGrid>

	</MudItem>

	<MudItem xs="8">
		@if (bTablaProductos)
		{

			<ConsultaProducto EC_CatProductos="OnSelectProducto">  </ConsultaProducto>
		}

		@if (bTablaCategorias)
		{

			<TablaCategoria EC_Categoria="OnSelectCategoria">  </TablaCategoria>
		}

	</MudItem>
</MudGrid>
