﻿



<MudDialog>
	<DialogContent>
		<MudText>@vchMensaje</MudText>
	</DialogContent>
	<DialogActions>
		@*<MudButton OnClick="Cancel">Cancel</MudButton>*@
		<MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
	</DialogActions>
</MudDialog>


