﻿
@using POS_Foraneo.Areas.Caja.CajaRegistradora.Componentes

@page "/CorteCaja"

<MudGrid>
	@if(ActualCoteCaja.bActivo)
	{

		<MudItem xs="4">

			<MovimientosCaja PiIdCorteCaja="ActualCoteCaja.iIdGralCorteCaja"
							 PiIdTipoMovimiento="_5_TipoMovimiento.RETIRO" 
							  EC_EspCorteCaja="EC_EspCorteCaja"/>

			<MovimientosCaja PiIdCorteCaja="ActualCoteCaja.iIdGralCorteCaja"
							 PiIdTipoMovimiento="_5_TipoMovimiento.DEPOSITO"
							 EC_EspCorteCaja="EC_EspCorteCaja"/>

		</MudItem>
	}
	<MudItem xs="4">

		<CerrarCorteCaja PGralCorteCaja="ActualCoteCaja"
						 EC_GralCorteCaja="EC_GralCorteCaja" />

	</MudItem>
	<MudItem xs="4">

		<MudCard>
			<MudCardHeader>

				<CardHeaderContent>
					<MudText Typo="Typo.h4">Fecha Inicio</MudText>
					<MudText Typo="Typo.body2">@ActualCoteCaja.dtFechaIncicio </MudText>
				</CardHeaderContent>

			</MudCardHeader>
			<MudCardContent>


				<MudTable Items="@ActualCoteCaja.LstEspCorteCaja" Hover="true" Breakpoint="Breakpoint.Sm">
					<HeaderContent>
						<MudTh>Movimiento</MudTh>
						<MudTh>Tipo de pago</MudTh>
						<MudTh>Total Recaudado</MudTh>
					</HeaderContent>
					<RowTemplate>
						<MudTd DataLabel="Movimiento">@context.vchTipoMovimiento</MudTd>
						<MudTd DataLabel="Tipo de pago">@context.vchTipoPago</MudTd>
						<MudTd DataLabel="Total Recaudado">@context.mTotalRecaudado</MudTd>
					</RowTemplate>
				</MudTable>

			</MudCardContent>

		</MudCard>



	</MudItem>


</MudGrid>

