﻿
@using POS_Foraneo.Helper;

@if (LstProducto.NotEmpty())
{


	<MudItem sm="12">
		<MudCard>
			<MudCardHeader> <MudText Typo="Typo.h5"> Tabla Productos </MudText></MudCardHeader>
			<MudTable Items="@LstProducto" Striped="true">

				<HeaderContent>
					<MudTh>Id Producto</MudTh>
					<MudTh>Nombre</MudTh>
					<MudTh>Descripción</MudTh>
					<MudTh>Estatus</MudTh>
					@*<MudTh>Precio</MudTh>*@
					<MudTh>Descripción Precio</MudTh>
					<MudTh></MudTh>
				</HeaderContent>
				<RowTemplate>
					<MudTd>@context.iIdCatProducto</MudTd>
					<MudTd>@context.vchNombre</MudTd>
					<MudTd>@context.vchDescripcion</MudTd>
					<MudTd>@context.bActivo</MudTd>
					@*<MudTd>@context.LstEspProductosPrecios.Where(e => e.bDefault).FirstOrDefault().mPrecio</MudTd>*@
					<MudTd>
						<MudButton Color="Color.Primary"
								   ButtonType="ButtonType.Button"
								   @onclick="@(() => ConsultarProductoCompleto(context))"
								   Variant="Variant.Outlined">Seleccionar</MudButton>
					</MudTd>
				</RowTemplate>
				<PagerContent>
					<MudTablePager />
				</PagerContent>
			</MudTable>

		</MudCard>
	</MudItem>
}