﻿
@using POS_Foraneo.Helper;

<MudPaper Elevation="3" Class="mt-2">
	<MudCard>
		<MudCardHeader>
			<MudText Typo="Typo.h5" Align="Align.Center" GutterBottom="true">Precios</MudText>
		</MudCardHeader>
		@if (PCatProducto.LstEspProductosPrecios.NotEmpty())
		{
			<MudItem sm="8">
				<MudCard>
					<MudTable Items="@PCatProducto.LstEspProductosPrecios" Striped="true">
						<RowTemplate>
							<MudTd DataLabel="Precio">@context.mPrecio</MudTd>
							<MudTd DataLabel="Descripción">@context.vchDescripcion</MudTd>
							@*<MudTd DataLabel="Estatus">@context.bActivo</MudTd>*@
						</RowTemplate>
					</MudTable>

				</MudCard>
			</MudItem>
		}

		<MudForm Model="Precio" @ref="Form" @bind-IsValid="@bSucces">
			<MudCardContent>

				<MudGrid>

					<MudItem xs="4">
						<MudTextField Label="Precio"
									  T="decimal"
									  Variant="Variant.Outlined"
									  For="@(()=>Precio.mPrecio)"
									  Adornment="Adornment.Start"
									  AdornmentIcon="@Icons.Material.Filled.AttachMoney"
									  @bind-Value="@Precio.mPrecio" />

					</MudItem>
					<MudItem xs="4">
						<MudTextField Label="Descripción"
									  T="string"
									  Variant="Variant.Outlined"
									  @bind-Value="@Precio.vchDescripcion" />

					</MudItem>
					<MudItem xs="4">
						<MudButton Color="Color.Primary"
								   ButtonType="ButtonType.Button"
								   Disabled="@(bSucces.False())"
								   Variant="Variant.Outlined"
								   Size="Size.Medium"
								   Class="p-3"
								   OnClick="OnGuardar">Agregar</MudButton>
					</MudItem>

				</MudGrid>
			</MudCardContent>
		</MudForm>

	</MudCard>
</MudPaper>