﻿<MudCard>
	<MudForm Model="PCatCategoria" @ref="Form" @bind-IsValid="@bSucces">

		<MudCardContent>
			<MudTextField Label="Nombre"
						  T="string"
						  For="@(()=>PCatCategoria.vchNombre)"
						  Variant="Variant.Outlined"
						  @bind-Value="@PCatCategoria.vchNombre" />

			<MudTextField Label="Descripción"
						  T="string"
						  Variant="Variant.Outlined"
						  @bind-Value="@PCatCategoria.vchDescripcion" />

			<MudSelect T="int"
					   Label="Categoria Padre"
					   Variant="Variant.Outlined"
					   Strict="true"
					   Format="F2"
					   @bind-Value="@PCatCategoria.iIdCatCategoriaPadre">
				@foreach (var item in LstCategorias)
				{
					<MudSelectItem Value="@item.iIdCatCategoria">@item.vchNombre</MudSelectItem>
				}
			</MudSelect>
		</MudCardContent>
		<MudCardActions>
			<MudButton Color="Color.Primary"
					   ButtonType="ButtonType.Button"
					   Disabled="@(bSucces.False())"
					   Variant="Variant.Outlined"
					   OnClick="OnValid">Guardar</MudButton>
		</MudCardActions>
	</MudForm>

</MudCard>