﻿
@using POS_Foraneo.Helper;
@using POS_Foraneo.Helper.ClasesGenerales;



<MudForm Model="CatProducto" @ref="Form" @bind-IsValid="@bSucces">
	<MudCard>

		<MudCardContent>
			<MudTextField Label="Nombre"
						  T="string"
						  Variant="Variant.Outlined"
						  For="@(()=>CatProducto.vchNombre)"
						  @bind-Value="@CatProducto.vchNombre" />

			<MudTextField Label="Descripción"
						  T="string"
						  Variant="Variant.Outlined"
						  @bind-Value="@CatProducto.vchDescripcion" />

			<MudSelect T="int"
					   Label="Categoria"
					   Variant="Variant.Outlined"
					   Strict="true"
					   Format="F2"
					   @bind-Value="@CatProducto.iIdCatCategoria">
				@foreach (var item in LstCategoria)
				{
					<MudSelectItem Value="@item.iIdCatCategoria">@item.vchNombre</MudSelectItem>
				}
			</MudSelect>

			<CrudPrecios PCatProducto="@CatProducto" />

		</MudCardContent>
		<MudCardActions>
			<MudButton Color="Color.Secondary"
					   ButtonType="ButtonType.Button"
					   Variant="Variant.Outlined"
					   Size="Size.Large"
					   Class="p-3"
					   Disabled="@(bSucces.False())"
					   OnClick="OnGuardar">
				Guardar Producto
			</MudButton>
		</MudCardActions>

	</MudCard>

</MudForm>