﻿


<MudCard>
	<MudCardHeader> <MudText Typo="Typo.h5"> Tabla Categorias </MudText></MudCardHeader>

	<MudTable Items="@LstCategorias" Striped="true">

		<HeaderContent>
			<MudTh>Id Categoría</MudTh>
			<MudTh>Nombre</MudTh>
			<MudTh>Descripción</MudTh>
			<MudTh>Id Padre</MudTh>
			<MudTh>Nombre Padre</MudTh>
			<MudTh>Estatus</MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd DataLabel="Id Categoria">@context.iIdCatCategoria</MudTd>
			<MudTd DataLabel="Nombre">@context.vchNombre</MudTd>
			<MudTd DataLabel="Descripción">@context.vchDescripcion</MudTd>
			<MudTd DataLabel="Id Padre">@context.iIdCatCategoriaPadre</MudTd>
			<MudTd DataLabel="Nombre Padre">@context.vchNombrePadre</MudTd>
			<MudTd DataLabel="Estatus">@context.bActivo</MudTd>
			<MudTd>
				<MudButton Color="Color.Primary"
						   ButtonType="ButtonType.Button"
						   @onclick="@(() => OnSelectCatregoria(context))"
						   Variant="Variant.Outlined">Seleccionar</MudButton>
			</MudTd>
		</RowTemplate>
		<PagerContent>
			<MudTablePager />
		</PagerContent>
	</MudTable>

</MudCard>

