﻿

<MudPaper Class="ma-2" Elevation="3">
	<MudCard>
		<MudForm Model="ModelComanda" @ref="Form" @bind-IsValid="@bSucces">

			<MudCardContent>

				<MudTextField Label="Nombre"
							  T="string"
							  For="@(()=> ModelComanda.vchNombre)"
							  @bind-Value="@ModelComanda.vchNombre" />



				<MudSelect T="int" Label="Tipo Venta" Strict="true" Format="F2" @bind-Value="@ModelComanda.iIdTipoVenta">
					@foreach (var item in LstTipoVenta)
					{
						<MudSelectItem Value="@item.IdOpcion">@item.vchValue</MudSelectItem>
					}
				</MudSelect>



				<MudTextField Label="Comentario"
							  T="string"
							  @bind-Value="@ModelComanda.vchComentarioGeneral" />

			</MudCardContent>
			<MudCardActions>
				<MudButton Color="Color.Primary"
						   ButtonType="ButtonType.Button"
						   Disabled="@(bSucces.False())"
						   Variant="Variant.Outlined"
						   OnClick="OnGuardar">Guardar Comanda</MudButton>
			</MudCardActions>
		</MudForm>

	</MudCard>
</MudPaper>