﻿@using POS_Foraneo.Helper


<mudCard>
	<MudCardHeader @onclick="ShowDatosComanda">
		<CardHeaderAvatar>
			<MudAvatar Color="Color.Secondary">+</MudAvatar>
		</CardHeaderAvatar>
		<CardHeaderContent>
			<MudText Typo="Typo.body1">Editar Comanda</MudText>
		</CardHeaderContent>
	</MudCardHeader>

	@if (bshowDatos)
	{

		<MudCardContent>
			<MudItem Id="DatosComanda" xs="12">

				<MudPaper Class="ma-2" Elevation="3">
					<MudCard>
						<MudForm Model="PGralComanda" @ref="Form" @bind-IsValid="@bSucces">

							<MudCardContent>

								<MudGrid>
									<MudItem xs="4">
										<MudTextField Label="Nombre"
													  T="string"
													  Variant="Variant.Outlined"
													  For="@(()=> PGralComanda.vchNombre)"
													  @bind-Value="@PGralComanda.vchNombre" />
									</MudItem>

									<MudItem xs="4">
										<MudSelect T="int" Label="Tipo Venta"
												   Variant="Variant.Outlined"
												   Strict="true"
												   Format="F2"
												   @bind-Value="@PGralComanda.iIdTipoVenta">
											@foreach (var item in LstTipoVenta)
											{
												<MudSelectItem Value="@item.IdOpcion">@item.vchValue</MudSelectItem>
											}
										</MudSelect>
									</MudItem>

									<MudItem xs="4">
										<MudSelect T="int"
												   Label="Estatus Comanda"
												   Variant="Variant.Outlined"
												   Strict="true"
												   Format="F2"
												   @bind-Value="@PGralComanda.iIdEstatus">
											@foreach (var item in LstEstatus)
											{
												<MudSelectItem Value="@item.IdOpcion">@item.vchValue</MudSelectItem>
											}
										</MudSelect>
									</MudItem>

									<MudItem xs="12">
										<MudTextField Label="Comentario General"
													  T="string"
													  Variant="Variant.Outlined"
													  @bind-Value="@PGralComanda.vchComentarioGeneral" />
									</MudItem>

								</MudGrid>
								<MudGrid>
									<MudItem xs="4">
										<MudTextField T="short"
													  @bind-Value="@PGralComanda.smDescuento"
													  Label="Descuento"
													  Variant="Variant.Outlined"
													  Adornment="Adornment.Start"
													  AdornmentIcon="@Icons.Material.Filled.SafetyDivider" />
									</MudItem>
									<MudItem xs="4">
										<MudTextField T="decimal"
													  @bind-Value="@PGralComanda.mTotalCobrado"
													  Label="Total"
													  Disabled="true"
													  Variant="Variant.Outlined"
													  Adornment="Adornment.Start"
													  AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
									</MudItem>
									<MudItem xs="4">
										<MudTextField @bind-Value="@PGralComanda.dtFechaAlta"
													  Format="hh:mm:ss"
													  Disabled="true"
													  Variant="Variant.Outlined"
													  Label="Hora de Alta" />
									</MudItem>

								</MudGrid>


							</MudCardContent>
							<MudCardActions>
								<MudButton Color="Color.Primary"
										   ButtonType="ButtonType.Button"
										   Variant="Variant.Outlined"
										   Disabled="@(bSucces.False())"
										   OnClick="OnGuardar">Guardar Cambios</MudButton>
							</MudCardActions>
						</MudForm>

					</MudCard>
				</MudPaper>

			</MudItem>
		</MudCardContent>
	}

</mudCard>


