﻿



<MudGrid>
	<MudItem xs="12" Height="500px">

		<MudGrid>

			<MudItem Id="Menu-Categoria-Producto" xs="8" Class="Menu-Categoria-Producto">

				<DatosComanda PGralComanda="PGralComanda"
							  EC_GralComanda="EC_GralComandaDatos"></DatosComanda>

				<MenuCarta  EC_CatProductos="EC_CatProductos"></MenuCarta>

			</MudItem>

			<MudItem xs="4">
				<Pedido PGralComanda="PGralComanda"
						EC_GralComanda="EC_GralComanda" />
			</MudItem>
		</MudGrid>
	</MudItem>

</MudGrid>
