﻿
<MudGrid Class="m-2">
	<MudItem xs="12">
		<MudGrid>
			<MudItem xs="3">
				<MudCard>
					<MudCardHeader>
						<CardHeaderContent>
							<MudText Typo="Typo.h6">@strTextoCrearComanda</MudText>
						</CardHeaderContent>
						<CardHeaderActions>
							<MudFab Color="@iColorBtn" Icon="@strSelectedIcon" @onclick="OnClicAdd" />
						</CardHeaderActions>
					</MudCardHeader>
					<MudDivider DividerType="DividerType.Middle" />
					<MudCardContent>
						<MudText>@DateTime.Now.ToLongDateString() </MudText>
						<MudText>@DateTime.Now.ToLongTimeString() </MudText>
					</MudCardContent>
				</MudCard>
			</MudItem>

			@if (bShowCrearComanda)
			{
				<MudItem xs="4">
					<CrearComanda EC_GralComanda="EC_ComandaAsync" />
				</MudItem>
			}

		</MudGrid>

	</MudItem>

	<MudItem xs="12">
		<MudDivider DividerType="DividerType.Middle" />
	</MudItem>

	<MudItem xs="12">
		<MudGrid>
			@foreach (var item in LstComandas)
			{
				<MudItem xs="3">
					<MudPaper Class="ma-2" Elevation="3">
						<MudCard>
							<MudCardHeader>
								<CardHeaderContent>
									<MudText Typo="Typo.h5">
										@item.vchNombre
										<MudChip Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Large">@item.vchTipoVenta</MudChip>
									</MudText>

								</CardHeaderContent>
								<CardHeaderActions>
									<MudButton Variant="Variant.Outlined" Color="Color.Info" @onclick="@(() => PreviewTicket(item))">Imprimir</MudButton>
								</CardHeaderActions>
							</MudCardHeader>
							<MudDivider></MudDivider>
							<MudCardContent>
								<MudText Typo="Typo.h6">@item.vchComentarioGeneral</MudText>

								<MudDivider></MudDivider>

								<MudChip Color="Color.Default" Size="Size.Large">%@item.smDescuento</MudChip>
								<MudChip Color="Color.Default" Size="Size.Large">$@item.mTotalCobrado</MudChip>
								<MudChip Color="Color.Default" Size="Size.Large" CloseIcon="@Icons.Material.Filled.AlarmOn">@item.dtFechaAlta.ToLongTimeString()</MudChip>

							</MudCardContent>
							<MudCardActions>
								<MudGrid>
									<MudItem xs="4">
										<MudButton Variant="Variant.Outlined"
												   Color="Color.Success" 
												   @onclick="@(()=>OnClickComanda(item))">Modificar</MudButton>
									</MudItem>
									<MudItem xs="4">
									</MudItem>
									<MudItem xs="4">
										<MudButton Class="mud-width-full" 
												   Variant="Variant.Outlined" 
												   Color="Color.Error" 
												   Size="Size.Large"
												   @onclick="@(()=>OnClickPagarComanda(item))">Cobrar</MudButton>
									</MudItem>
								</MudGrid>
							</MudCardActions>
						</MudCard>
					</MudPaper>
				</MudItem>
			}
		</MudGrid>
	</MudItem>
</MudGrid>
