﻿



<MudGrid Id="MenuCarta">
	<MudItem xs="9">

		<MudGrid>
			@foreach (var Dicc in DiccCategoria)
			{

				<MudItem xs="4">

					<MudAlert Severity="Severity.Normal">@Dicc.Key</MudAlert>

					<MudItem Id="LstCategorias">

						@foreach (var LstCat in DiccCategoria[Dicc.Key])
						{
							<MudPaper Class="ma-2" Elevation="3">
								<MudCard @onclick="@( () => BuscarSubCategoriaProducto(Dicc.Key, LstCat.iIdCatCategoria))">
									<MudCardHeader>
										<CardHeaderContent>
											<MudText Typo="Typo.h6">@LstCat.vchNombre </MudText>
										</CardHeaderContent>
									</MudCardHeader>
									<MudCardActions>
										<MudButton Variant="Variant.Text" Color="Color.Primary"></MudButton>
									</MudCardActions>
								</MudCard>
							</MudPaper>
						}

					</MudItem>
				</MudItem>
			}

		</MudGrid>


	</MudItem>
	<MudItem xs="3">

		<MudAlert Severity="Severity.Normal">Productos</MudAlert>
		<MudItem Id="LstProductos">
			@foreach (var item in LstProductos)
			{
				<MudPaper Class="ma-2" Elevation="3">
					<MudCard>
						<MudCardHeader>
							<CardHeaderContent>
								<MudText Typo="Typo.h6">@item.vchNombre - @item.iIdCatProducto</MudText>
							</CardHeaderContent>
							<CardHeaderActions>
								<MudFab Icon="@Icons.Material.Filled.PlaylistAdd"
										Color="Color.Secondary" 
										@onclick="@(() =>OnClic_Producto(item))" />
							</CardHeaderActions>
						</MudCardHeader>
						<MudCardActions>
							<MudButton Variant="Variant.Text" Color="Color.Primary">P/U</MudButton>
							<MudButton Variant="Variant.Outlined" Color="Color.Primary"> $@item.mPrecioDefault</MudButton>
						</MudCardActions>
					</MudCard>
				</MudPaper>
			}
		</MudItem>
	</MudItem>
</MudGrid>

