﻿


<MudItem Id="CardTotalPagar">

	<MudCard>
		<MudCardHeader>
			<CardHeaderContent>
				<MudButton Variant="Variant.Text"
						   Color="Color.Primary">Total </MudButton>
				<MudText Typo="Typo.h6">$@PGralComanda.mSubTotal</MudText>
				<MudButton Variant="Variant.Text"
						   Color="Color.Primary">Total Pagar</MudButton>
				<MudText Typo="Typo.h6">$@PGralComanda.mTotalCobrado</MudText>
			</CardHeaderContent>
			<CardHeaderActions>
				<MudFab Color="@Color.Success"
						Icon="@Icons.Material.Filled.BookmarkAdded"
						@onclick="@GuardarComanda" />
			</CardHeaderActions>
		</MudCardHeader>
		<MudCardActions>
			<MudButton Variant="Variant.Text"
					   Color="Color.Primary">Total Productos</MudButton>
			<MudButton Variant="Variant.Filled"
					   Color="Color.Primary">@iTotalITems</MudButton>
				</MudCardActions>
			</MudCard>

		</MudItem>
		<MudDivider></MudDivider>

		<MudItem Id="LstEspComanda">
			@foreach (var item in PGralComanda.LstEspComanda)
			{
				<MudPaper Class="ma-2" Elevation="3">
					<MudCard>
						<MudCardHeader>
							<CardHeaderContent>
								@*<MudButton Variant="Variant.Text" Color="Color.Primary">@item.vchDescripcion</MudButton>*@
								<MudButton Variant="Variant.Filled" Color="Color.Secondary">@item.smCantidad</MudButton>
								<MudText Typo="Typo.h6">@item.vchDescripcion</MudText>
							</CardHeaderContent>
							<CardHeaderActions>
								<MudMenu Icon="@Icons.Material.Filled.Settings" Dense="true">
									<MudMenuItem>Precio</MudMenuItem>
									<MudMenuItem>Borrar</MudMenuItem>
									<MudMenuItem>Cantidad</MudMenuItem>
								</MudMenu>
							</CardHeaderActions>
						</MudCardHeader>
						<MudCardActions>
							<MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="(() => ConsultarPrecios(item))">P/U</MudButton>

							<MudMenu Variant="Variant.Outlined" Label="@item.mPrecioUnitario.ToString()">
								@if (LstPrecio.NotEmpty())
								{
									@foreach (var precio in LstPrecio)
									{
										<MudMenuItem OnClick="@(() => CambiarPrecio(precio))">$@precio.mPrecio</MudMenuItem>
									}
								}
							</MudMenu>
							@*<MudButton Variant="Variant.Outlined" Color="Color.Primary">$@item.mPrecioUnitario</MudButton>*@

							<MudButton Variant="Variant.Text" Color="Color.Primary">P/T</MudButton>
							<MudButton Variant="Variant.Outlined" Color="Color.Primary">$@item.mTotal</MudButton>
						</MudCardActions>
					</MudCard>
				</MudPaper>
			}
		</MudItem>
