﻿
<MudCard>
	<MudCardHeader>
		<CardHeaderContent>
			<MudText Align="Align.Center" Typo="Typo.h5">@PGralComanda.vchNombre</MudText>
		</CardHeaderContent>
	</MudCardHeader>
	<MudCardContent>
		<MudContainer Style="max-height: 400px; overflow-y: scroll">
			<MudList Clickable="true">

				@foreach (var EspComanda in PGralComanda.LstEspComanda)
				{
					<MudListItem>
						<MudText Align="Align.End" Typo="Typo.body1">
							@EspComanda.vchDescripcion - [@EspComanda.smCantidad] - [$@EspComanda.mPrecioUnitario.ToString("0.00")]
						</MudText>
						<MudText Align="Align.End" Typo="Typo.h6">
							$@EspComanda.mTotal.ToString("0.00")
						</MudText>
					</MudListItem>
				}
			</MudList>
		</MudContainer>

		<MudDivider />
		<MudText Align="Align.End" Typo="Typo.h6">Total Consumo $@PGralComanda.mTotalCobrado.ToString("0.00")</MudText>

		@*<MudTextField T="short"
					  @bind-Value="@smPropiraSugerida"
					  Label="Porcentaje Propina"
					  Variant="Variant.Outlined"
					  Adornment="Adornment.Start"
					  OnBlur="OnBlourPropina"
					  AdornmentIcon="@Icons.Material.Filled.SafetyDivider" />

		<MudDivider />
		<MudText Align="Align.End" Typo="Typo.h5"> Total Sugerido $@smTotalSugerido.ToString("0.00")</MudText>*@


	</MudCardContent>
	<MudCardActions>
		<MudCardActions>
			<MudButton Variant="Variant.Outlined" Color="Color.Primary">Imprimir</MudButton>
		</MudCardActions>
	</MudCardActions>
</MudCard>
