﻿
@using POS_Foraneo.Areas.Caja.Comanda.Componentes
@using POS_Foraneo.Areas.Caja.CajaRegistradora.Componentes

@page "/InicioComandas"

@switch (FaseProceso)
{

	case Proceso.MenuComanda:

		<MenuComandas EC_GralComanda="EC_GralComandaMenu" 
					  EC_PagarComanda="EC_PagarComanda"/>

		break;

	case Proceso.GenerarPedido:

		<GenerarPedido PGralComanda="Comanda"
					   EC_GralComanda="EC_GralComandaPedido"
					   />

		break;

	case Proceso.PagarComanda:

		<PagarComanda PGralComanda="Comanda" 
					  EC_VolverComandas="EC_VolverComandas"/>

		break;
}