﻿@inherits LayoutComponentBase


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
	
	<MudPaper Height="@(HeightScreen +"px")" >
		<MudDrawerContainer Class="mud-height-full">
			<MudDrawer @bind-Open="@open" Fixed="false" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true">
			
				<NavMenu />

			</MudDrawer>
			<MudMainContent Class="p-4">
				@Body
			</MudMainContent>

		</MudDrawerContainer>
	</MudPaper>
</MudLayout>

