﻿@*<MudNavMenu>
		<MudNavLink Href="/Grafica">Grafica</MudNavLink>
		<MudNavLink Href="/RP_Comandas">RP_Comandas</MudNavLink>
		<MudNavLink Href="/Inventario">Inventario</MudNavLink>
		<MudNavLink Href="/InicioComandas">InicioComandas</MudNavLink>
		<MudNavLink Href="/CorteCaja">Corte Caja</MudNavLink>

	</MudNavMenu>*@


<MudNavMenu>

	<MudDivider Class="my-2"  />

	<MudNavLink Href="/" Icon="@Icons.Filled.Dashboard">Inicio</MudNavLink>
	<MudNavLink Href="/InicioComandas" Icon="@Icons.Filled.AutoAwesomeMotion">InicioComandas</MudNavLink>
	<MudNavLink Href="/Inventario" Icon="@Icons.Filled.ListAlt">Inventario</MudNavLink>
	<MudNavLink Href="/CorteCaja" Icon="@Icons.Filled.AttachMoney">Corte de Caja</MudNavLink>

	<MudNavGroup Title="Reportes" Icon="@Icons.Filled.FolderOpen" Expanded="true">

		<MudNavLink Href="/RP_Comandas" Icon="@Icons.Filled.Article">Comandas</MudNavLink>
		<MudNavLink Href="/RP_CorteCaja" Icon="@Icons.Filled.Article">Cortes Caja</MudNavLink>

	</MudNavGroup>
</MudNavMenu>
