﻿
@page "/TEST"

<MudTreeView T="string">
	@foreach (var direcotorio in DiccObjetos)
	{
		<MudTreeViewItem Value="@direcotorio.Key">

			@foreach (var item in DiccObjetos[direcotorio.Key])
			{
				<MudTreeViewItem Value="@item.name" />
			}





		</MudTreeViewItem>

	}


</MudTreeView>

