﻿
@page "/Grafica"

	@*<MudChart ChartType="ChartType.Line" 
			  ChartSeries="@Series" 
			  XAxisLabels="@XAxisLabels"
			  Width="100%" 
			  Height="350" 
			  ChartOptions="options"/>
	<MudButton @onclick="RandomizeData">Randomize Data</MudButton>
	<MudMenu Label="Interpolation Algorithm" FullWidth="true">
		<MudMenuItem OnClick="() => OnClickMenu(InterpolationOption.NaturalSpline)">Natural Spline</MudMenuItem>
		<MudMenuItem OnClick="() => OnClickMenu(InterpolationOption.EndSlope)">End Slope</MudMenuItem>
		<MudMenuItem OnClick="() => OnClickMenu(InterpolationOption.Periodic)">Periodic</MudMenuItem>
	</MudMenu>*@



