﻿

@page "/RP_CorteCaja"


<MudPaper Class="ma-2" Elevation="3">
	<MudCard>
		<MudCardHeader>
			<CardHeaderContent>
				<MudText Typo="Typo.h4">Cortes de Caja Realizadas</MudText>
			</CardHeaderContent>
		</MudCardHeader>
		<MudCardContent>

			<MudTable Items="@LstCorteCaja" Hover="true" Breakpoint="Breakpoint.Sm">

				<HeaderContent>
					<MudTh>Fecha Inicio </MudTh>
					<MudTh>Fecha Fin</MudTh>
					<MudTh>Descripción</MudTh>
					<MudTh>Total Ingresado</MudTh>
					<MudTh>Total Efectivo Sistema</MudTh>
				
					<MudTh></MudTh>
				</HeaderContent>
				<RowTemplate>
					@*<MudTd><MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => ShowBtnPress(context.Number))">@((context.ShowDetails == true)? "Hide" : "Show") Address Details</MudButton></MudTd>*@
					<MudTd DataLabel="Fecha Inicio">@context.dtFechaIncicio</MudTd>
					<MudTd DataLabel="Fecha Fin">@context.dtFechaFin</MudTd>
					<MudTd DataLabel="Descripción">@context.vchDescripcion</MudTd>
					<MudTd DataLabel="Total Ingresado">@context.mTotal</MudTd>
					<MudTd DataLabel="Total Efectivo Sistema">@context.mTotalSistema</MudTd>
		
					<MudTd>
						<MudButton Variant="Variant.Outlined"
								   Size="Size.Small"
								   Color="@Color.Primary"
								   @onclick="@(() => OnClickRow(context.iIdGralCorteCaja) )">Detalles</MudButton>
					</MudTd>

				</RowTemplate>
				<ChildRowContent>
					@if (context.bShowDetalles)
					{
						<MudTr>
							<td colspan="12">

								<MudCard Elevation="3" Class="mr-2 mb-4 col-12">
									<MudCardHeader>
										<CardHeaderContent>
											<MudText Typo="Typo.h5">Pedidos dentro de la Comanda</MudText>
										</CardHeaderContent>
									</MudCardHeader>
									<MudCardContent Class="pa-0">
										<MudTable Items="@context.LstEspCorteCaja" Context="EspContext" Hover="true" Breakpoint="Breakpoint.Sm" Elevation="0">
											<HeaderContent>
												<MudTh>Tipo Movimiento</MudTh>
												<MudTh>Tipo Pago</MudTh>
												<MudTh>Total Recaudado</MudTh>
												<MudTh>Fecha Movimiento</MudTh>
											</HeaderContent>
											<RowTemplate>
												<MudTd DataLabel="Tipo Movimiento">@EspContext.vchTipoMovimiento</MudTd>
												<MudTd DataLabel="Tipo Pago">@EspContext.vchTipoPago</MudTd>
												<MudTd DataLabel="Total Recaudado">@EspContext.mTotalRecaudado</MudTd>
												<MudTd DataLabel="Fecha Movimiento">@EspContext.dtFechaUltModificacion</MudTd>
											</RowTemplate>
										</MudTable>
									</MudCardContent>
								</MudCard>

							</td>
						</MudTr>

					}
				</ChildRowContent>
			</MudTable>
		</MudCardContent>

	</MudCard>
</MudPaper>