﻿

@page "/RP_Comandas"


<MudPaper Class="ma-2" Elevation="3">
	<MudCard>
		<MudCardHeader>
			<CardHeaderContent>
				<MudText Typo="Typo.h4">Comandas Realizadas</MudText>
			</CardHeaderContent>
		</MudCardHeader>
		<MudCardContent>

			<MudTable Items="@LstComandas" Hover="true" Breakpoint="Breakpoint.Sm">

				<HeaderContent>
					<MudTh>Nombre </MudTh>
					<MudTh>Comentario</MudTh>
					<MudTh>Tipo Venta</MudTh>
					<MudTh>Estatus</MudTh>
					<MudTh>SubTotal</MudTh>
					<MudTh>Descuento</MudTh>
					<MudTh>Total</MudTh>
					<MudTh></MudTh>
				</HeaderContent>
				<RowTemplate>
					@*<MudTd><MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => ShowBtnPress(context.Number))">@((context.ShowDetails == true)? "Hide" : "Show") Address Details</MudButton></MudTd>*@
					<MudTd DataLabel="Nombre">@context.vchNombre</MudTd>
					<MudTd DataLabel="Comentario">@context.vchComentarioGeneral</MudTd>
					<MudTd DataLabel="Tipo Venta">@context.vchTipoVenta</MudTd>
					<MudTd DataLabel="Estatus">@context.vchEstatus</MudTd>
					<MudTd DataLabel="SubTotal">@context.mSubTotal</MudTd>
					<MudTd DataLabel="Descuento">@context.smDescuento</MudTd>
					<MudTd DataLabel="Total">@context.mTotalCobrado</MudTd>
					<MudTd>
						<MudButton Variant="Variant.Outlined"
								   Size="Size.Small"
								   Color="@Color.Primary"
								   @onclick="@(() => OnClickRow(context.iIdGralComanda) )">Detalles</MudButton>
					</MudTd>

				</RowTemplate>
				<ChildRowContent>
					@if (context.bShowDetalles)
					{
						<MudTr>
							<td colspan="12">

								<MudCard Elevation="3" Class="mr-2 mb-4 col-12">
									<MudCardHeader>
										<CardHeaderContent>
											<MudText Typo="Typo.h5">Pedidos dentro de la Comanda</MudText>
										</CardHeaderContent>
									</MudCardHeader>
									<MudCardContent Class="pa-0">
										<MudTable Items="@context.LstEspComanda" Context="EspContext" Hover="true" Breakpoint="Breakpoint.Sm" Elevation="0">
											<HeaderContent>
												<MudTh>Producto</MudTh>
												<MudTh>Precio</MudTh>
												<MudTh>Cantidad</MudTh>
												<MudTh>Total</MudTh>
											</HeaderContent>
											<RowTemplate>
												<MudTd DataLabel="Producto">@EspContext.vchNombreProducto</MudTd>
												<MudTd DataLabel="Precio">@EspContext.mPrecioUnitario</MudTd>
												<MudTd DataLabel="Cantidad">@EspContext.smCantidad</MudTd>
												<MudTd DataLabel="Total">@EspContext.mTotal</MudTd>
											</RowTemplate>
										</MudTable>
									</MudCardContent>
								</MudCard>

							</td>
						</MudTr>

					}
				</ChildRowContent>
			</MudTable>
		</MudCardContent>

	</MudCard>
</MudPaper>